@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

$body-font: 'DM Sans', sans-serif;

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: 900px;
}

.black-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:1300px;
  background-color: black;
  z-index: -1;
}

.cafe-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  object-fit: cover;
  z-index: -1;
}

body {
    font-family: $body-font;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 1rem;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 32px;
    font-weight: 2rem; 
}

.product-list {
    background-color: #1B1D1F;
    color: #fff;
    height: 800px;
   padding-top: 70px;
    width: 80%;
    text-align: center;
    margin-left: 200px;
    margin-top:160px;
    z-index: 2;
    border-radius: 10px;
}
.all-products {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 50px;
}
.products-row-one{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}